---
---

{% include logo/style.css %}
{% include contacts/social/one/c.css %}
{% include contacts/phone/one/c.css %}

{% include nav/item/header/style.css %}
{% include nav/item/footer/style.css %}

html,
body {
  height: 100%;
}

body {
  height: 100%;
  font-family: var(--font-family-first);
  color: var(--font-color-primary);
  font-size: var(--font-size-base);
  padding-top: var(--el-header-h);
}

header .navbar {
  background-color: #191919;
}

.g-max-width-content {
  max-width: var(--max-width-content);
  margin-left: auto;
  margin-right: auto;
}

.g-btn {
  display: inline-block;
  border-radius: 3px;
  background-color: var(--font-color-secondary);
  font-size: 20px;
  color: #fff;
  /*cursor: pointer;*/
  font-weight: bold;
  transition-property: background-color, box-shadow;
  transition-duration: 200ms;
}

.g-btn:hover {
  background-color: var(--font-color-primary);
  color: #fff;
  /*box-shadow: 0 0 10px #999;*/
}




.footer {
  /*opacity: 0;*/
  /*animation-name: bla;*/
  /*animation-duration: 0.5s;*/
  /*animation-fill-mode: forwards;*/
  width: 100%;
  overflow: hidden;
}

@keyframes bla {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.footer-partners {
  height: 25px;
}

.footer-partners img {
  height: 100%;
}
