.i-logo-primary {
  color: #3E7400;

  display: inline-block;
  text-align: center;

  font-size: 24px;
  font-family: "Arial Black";
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 1px;
}

.i-logo-primary-name {
  text-align: center;
}

.i-nav-item-header {
    font-family: var(--font-family-first);
    color: var(--font-color-primary);
    font-size: var(--font-size-base);
    font-weight: bold;
    transition-property: color;
    transition-duration: 300ms;
}

.i-nav-item-header:hover {
    color: var(--font-color-secondary);
}

.i-nav-item-header.selected {
    color: var(--font-color-secondary);
    cursor: default;
}

.i-contact-phone-primary {
    border-radius: 3px;
    color: var(--font-color-secondary);
    padding: 3px 10px 3px 25px;
    font-family: var(--font-family-first);
    font-size: 12px;

    background-color: #D8D8D8;
    background-image: url("/triathlon/icons/ic_call_black_24px.svg");
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 5px 50%;
}

.i-contact-social-primary-size {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}


.i-header-responsive {
  max-width: var(--max-width-content);
  font-size: var(--font-size-base);

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.i-header-responsive-logo {
  min-width: 155px;
}

.i-header-responsive-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 140%;
}

.i-header-responsive-items>* {
  margin-left: 40px;
}

.i-header-responsive-contact {
  display: flex;
  flex-direction: column;
}

.i-header-responsive-contact-social {
  margin-top: 10px;
}



.i-nav-item-footer {
    font-family: var(--font-family-first);
    color: var(--font-color-primary);
    font-size: 12px;
    font-weight: bold;
    transition-property: color;
    transition-duration: 300ms;
}

.i-nav-item-footer:hover {
    color: var(--font-color-secondary);
}

.i-nav-item-footer.selected {
    color: var(--font-color-secondary);
    cursor: default;
}


.i-footer-responsive {
  background-color: #F2F4F5;
  width: 100%;
  padding-top: var(--indent-m);
  padding-bottom: var(--indent-m);
}

.i-footer-responsive .content {
  max-width: var(--max-width-content);
  margin-left: auto;
  margin-right: auto;
}

.i-footer-responsive .social {
  border-top: 1px #D0D6DA solid;
  text-align: right;
  padding-top: var(--indent-xs);
}

.i-footer-responsive .nav {
  display: flex;
}

.i-footer-responsive .nav>div {
  display: flex;
  flex-direction: column
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--font-family-first);
  color: var(--font-color-primary);
  font-size: var(--font-size-base);
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

input, textarea {
  margin: 0;
}

ul {
  margin: 0;
}

.layout-responsive-wrap {
  flex: 1 0 auto;
}

.layout-responsive-footer {
  flex: 0 0 auto;
  margin-top: calc(var(--indent-xl) * 2);
}

.layout-responsive-header {
  margin-top: var(--indent-s);
  margin-left: var(--indent-m);
  margin-right: var(--indent-m);
}

.layout-responsive-content {
  max-width: var(--max-width-content);
  min-width: var(--max-width-content);
  margin-top: var(--indent-m);
}

.layout-responsive-header, .layout-responsive-footer, .layout-responsive-content {
  margin-left: auto;
  margin-right: auto;
}
