---
---
{%include coach/avatar/style.css%}
{%include coach/about/style.css%}
{%include student/item/style.css%}

.page-coach {
  --h-ava-about: 400px;

  max-width: var(--max-width-content);
  margin-left: auto;
  margin-right: auto;
}

.page-coach-post {
  text-align: center;
}

.page-coach-ava-about {
  display: flex;
  align-items: center;
  margin-top: var(--indent-block);
  height: var(--h-ava-about);
}

.page-coach-ava-size {
  --size: calc(var(--h-ava-about) - var(--indent-xl) * 2);
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
}

.page-coach-about {
  margin-left: var(--indent-xl);
}

.page-coach-students {
  margin-top: var(--indent-section);
}

.page-coach-terms-of-training {
  text-align: center;
  margin-top: var(--indent-section);
}
