.avatar-coach {
  border-radius: 50%;
  box-shadow: 0 0 10px #ccc;
  opacity: 0.8;
}
.coach-about {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.coach-about-content {
  text-align: justify;
  overflow: auto;
  padding-top: var(--indent-xl);
  padding-bottom: var(--indent-xl);
  padding-right: 20px;
  box-sizing: border-box;
  height: 100%;
}

.coach-about-content>div:not(:first-child) {
  margin-top: var(--indent-s);
}

.coach-about-shadow-top, .coach-about-shadow-bottom {
  height: var(--indent-xl);
  position: absolute;
  left: 0;
  right: 0;
}

.coach-about-shadow-top {
  background: linear-gradient(#fff, rgba(255, 255, 255, 0));
  top: 0;
}

.coach-about-shadow-bottom {
  background: linear-gradient(rgba(255, 255, 255, 0), #fff);
  bottom: 0;
}

.student-item {
  display: flex;
  align-items: center;
}

.student-item:not(:first-child) {
  margin-top: var(--indent-block);
}

.student-item-avatar {
  width: 100px;
  min-width: 100px;
}

.student-item-avatar>img {
  width: 100%;
  border-radius: 50%;
  opacity: 0.7;
}

.student-item-fio {}

.student-item-about {
}

.student-item-info {
  margin-left: var(--indent-m);
  flex-grow: 1;
}

.student-item-starts {
  overflow: hidden;
}

.student-item-starts>a {
  display: block;
}

.student-item-sport-logos {
  opacity: 0.5;
}

.student-item-sport-logos>img {
  max-height: 40px;
  max-width: 150px;
  min-width: 70px;
}

.student-item-sport-logos>img:not(:first-child) {
  margin-left: var(--indent-xs);
}


.page-coach {
  --h-ava-about: 400px;

  max-width: var(--content-txt-max-width);
  margin-left: auto;
  margin-right: auto;
}

.page-coach-post {
  text-align: center;
}

.page-coach-ava-about {
  display: flex;
  align-items: center;
  margin-top: var(--indent-block);
  height: var(--h-ava-about);
}

.page-coach-ava-size {
  --size: calc(var(--h-ava-about) - var(--indent-xl) * 2);
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
}

.page-coach-about {
  margin-left: var(--indent-xl);
}

.page-coach-students {
  margin-top: var(--indent-section);
}

.page-coach-terms-of-training {
  text-align: center;
  margin-top: var(--indent-section);
}
