---
---
{%include avatar/coach/style.css%}
{%include coach/intro/style.css%}

.page-coach {
  --h-ava-intro: 400px;

  max-width: var(--content-txt-max-width);
  margin-left: auto;
  margin-right: auto;
}

.page-coach-post {
  text-align: center;
}

.page-coach-ava-intro {
  display: flex;
  align-items: center;
  margin-top: var(--indent-block);
  height: var(--h-ava-intro);
}

.page-coach-ava-h {
  height: calc(var(--h-ava-intro) - var(--indent-xl) * 2);
}

.page-coach-intro {
  margin-left: var(--indent-xl);
}
