.act-back-to-list {
  background-color: rgba(216, 216, 216, 0.28);
  padding: 10px 20px;
  display: flex;
}

.act-back-to-list>a {
  display: flex;
  align-items: center;
  color: var(--font-color-primary);
  transition: color 300ms;
}

.act-back-to-list>a:hover {
  color: var(--font-color-secondary);
}

.act-back-to-list>a img {
  width: 24px;

  margin-right: var(--indent-m);
  transform: scale(-1,1);
}



.i-icon-text {
  display: flex;
}

.i-icon-text-icon {
  margin-right: var(--indent-s);
}

.i-avatar-coach {
  border-radius: 50%;
  box-shadow: 0 0 10px #ccc;
  opacity: 0.8;
  max-width: 100%;
  max-height: 100%;
}

.i-scroll-x {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.i-scroll-x-arrow-left {
  transform: scale(-1, 1);
  margin-right: var(--indent-m);
}

.i-scroll-x-arrow-right {
  margin-left: var(--indent-m);
}

.i-scroll-x-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: auto;
}


.i-scroll-x-photos-img {

}

.i-scroll-x-photos-img:not(:first-child) {
  margin-left: var(--indent-m);
}


.report {
  margin-top: var(--indent-m);
}

.report-name:before {
  content: "— —  ";
}

.report-name:after {
  content: "  — —";
}

.report-meta {
  margin-top: var(--indent-xs);
}

.report-begin {
  display: flex;
  justify-content: space-between;
  margin-top: var(--indent-m);
  margin-bottom: var(--indent-xxl);
}

.report-members {
  text-align: center;
  min-width: 300px;
}

.report-members-avatar {
  height: 180px;
}

.report-promo {
  margin-left: var(--indent-xl);
  height: 300px;
}

.report-promo-img {
  max-height: 100%;
}

.report-block-with-photos {
  height: 200px;
}


