---
---

{%include act/back_to_list/style.css%}
{%include icon_text/style.css%}
{%include coach/avatar/style.css%}

.report {
  margin-top: var(--indent-m);
}

.report-name:before {
  content: "— —  ";
}

.report-name:after {
  content: "  — —";
}

.report-meta {
  margin-top: var(--indent-xs);
}

.report-begin {
  display: flex;
  justify-content: space-between;
  margin-top: var(--indent-m);
}

.report-members {
  text-align: center;
}

.report-members .title {

}

.report-members-avatar {
  height: 180px;
}


