.typo-intro {
  font-size: var(--font-size-responsive);
  font-weight: bold;
}

.typo-tile-promo {
  font-size: var(--font-size-h1);
  font-style: italic;
  color: white;
}

/* надпись на промо банере */
.typo-on-promo {
  font-size: var(--font-size-h1);
  font-weight: bold;
}

/* название страницы. вверху в начале */
.typo-page-name {
  font-size: var(--font-size-h1);
  color: var(--font-color-primary);
  font-weight: bold;
  text-align: center;
}

.typo-title-h2 {
  font-size: var(--font-size-h2);
}

.typo-title-h3 {
  font-size: var(--font-size-h3);
}

.typo-h4 {
  font-size: var(--font-size-h4);
}



/* prev */
/* название страницы. вверху в начале */
.typography-page-name {
  font-size: var(--font-size-h2);
  text-align: center;
  margin-top: var(--indent-xl);
  margin-bottom: var(--indent-l);
  color: var(--font-color-primary);
  font-weight: bold;
}

/* оглавление страницы тренера|события*/
.typography-item-title {
  font-size: var(--font-size-h3);
  color: var(--font-color-primary);
  text-align: center;
  margin-bottom: var(--indent-m);
}

/* внешние ссылки в тексте. базовый размер шрифта */
.typography-external-link {
  color: var(--font-color-link-ext);
  text-decoration: underline;
  font-size: var(--font-size-base);
}
.typography-external-link:hover {
  color: var(--font-color-secondary);
}

/* название статьи / небольшой заголовок к тексту */
.typography-title-of-article {
  font-size: var(--font-size-h4);
  color: var(--font-color-primary);
  margin-bottom: var(--indent-m);
}

/* текст стоимости на странице ЦЕНЫ */
.typography-text-prices-cost {
  font-size: calc(var(--font-size-base) - 2px);
  color: var(--font-color-primary);
}

/* Личные данные тренеров/воспитанников, показываемые отдельно от текста */
.typography-people-block {
  font-size: calc(var(--font-size-base) + 4px);
  color: var(--font-color-primary);
  font-weight: bold;
}
/* Личные данные тренеров/воспитанников, показываемые в тексте */
.typography-people-inline {
  font-size: var(--font-size-base);
  color: var(--font-color-primary);
  font-weight: bold;
}





.typography-title-another-page {
  font-size: var(--font-size-h3);
}

.typography-title-secondary-info {
  font-size: var(--font-size-h4);
}

.typography-link-inside-text {
  text-decoration: underline;
  color: var(--font-color-primary);
}


.typography-h1-banner-promo {
  font-size: var(--font-size-h2);
  font-weight: bold;
}

.typography-h2-poster {
  font-size: var(--font-size-h1);
  font-style: italic;
}

.typography-h2-section-name {
  font-size: var(--font-size-h2);
}

.typography-h2-num-card {
  font-size: var(--font-size-h2);
  font-weight: bold;
}

.typography-h4-title {
  font-size: var(--font-size-h4);
  color: var(--font-color-secondary);
}


.typography-text-title {
  font-size: var(--font-size-h4);
  font-weight: bold;
}

.typography-text-definition {
  font-size: calc(var(--font-size-base) + 4px);
  text-align: justify;
}

.typography-subtext-about {
  font-size: calc(var(--font-size-base) - 4px);
  text-align: justify;
}

.typography-training-program-example {
  font-size: calc(var(--font-size-base));
  text-align: justify;
}

.typography-text-regular {
  font-size: calc(var(--font-size-base) + 4px);
  color: var(--font-color-primary);
}

.typography-link-ext-start {
  color: var(--font-color-link-ext);
  text-decoration: underline;
  font-size: calc(var(--font-size-base) - 4px);
}
.typography-not-link-ext-start {
  color: var(--font-color-link-ext);
  font-size: calc(var(--font-size-base) - 4px);
}
.typography-link-contact {
  font-size: calc(var(--font-size-base) + 2px);
  color: var(--font-color-primary);
}
