:root {
  --max-width-content: 1200px;

  --font-family-first: triatlon-custom, sans-serif;

  --font-color-primary: #485F6E;
  --font-color-secondary: #39c360;

  --font-color-link-ext: #7396ad;

  --font-size-base: 20px;

  --font-size-h1: 64px;
  --font-size-h2: 48px;
  --font-size-h3: 36px;
  --font-size-h4: 28px;

  --indent-el: 10px;
  --indent-block: 20px;
  --indent-section: 40px;

  --indent-xs: 5px;
  --indent-s: 10px;
  --indent-m: 20px;
  --indent-l: 30px;
  --indent-xl: 40px;
  --indent-xxl: 60px;
  --indent-xxxl: 80px;

  --border-description: 1px solid #979797;

  --color-border-num: #979797;

  --color-border-light: #D8D8D8;
}
