---
layout: a_tpl

yandexMetrika: false
---

<style>
  body {
    padding-top: 0;
  }
</style>

{% include_relative item/h.html id='q1' src='/icons/logos/dark_bg.png' %}
{% include_relative item/h.html id='q2' src='/icons/logos/mono.png' %}
{% include_relative item/h.html id='q2' src='/icons/logos/orig.png' %}
{% include_relative item/h.html id='q2' src='/icons/logos/white.png' %}


<br>
{% include_relative item/h.html id='q1' src='/icons/logos/dark_bg.png' s='background-color: #191919' %}


{% include_relative item/h.html id='q2' src='/icons/logos/mono.png' s='background-color: #191919' %}


{% include_relative item/h.html id='q2' src='/icons/logos/orig.png' s='background-color: #191919' %}


{% include_relative item/h.html id='q2' src='/icons/logos/white.png' s='background-color: #191919' %}


