---
layout: a_tpl

yandexMetrika: false
---

<style>
  body {
    padding-top: 0;
  }

  .test .i-nav-item-header {
    color: var(--font-color-primary);
  }

</style>

{% include_relative item/h.html id='q1' src='/icons/logos/dark_bg.png' %}
{% include_relative item/h.html id='q2' src='/icons/logos/mono.png' %}
{% include_relative item/h.html id='q2' src='/icons/logos/orig.png' %}
{% include_relative item/h.html id='q2' src='/icons/logos/white.png' %}


<br>
{% assign s = 'background-color: white' %}
{% assign css = 'test' %}

{% include_relative item/h.html id='q1' src='/icons/logos/dark_bg.png' s=s css=css %}
{% include_relative item/h.html id='q2' src='/icons/logos/mono.png' s=s css=css%}
{% include_relative item/h.html id='q2' src='/icons/logos/orig.png' s=s css=css%}
{% include_relative item/h.html id='q2' src='/icons/logos/white.png' s=s css=css%}

<br>
{% assign s = 'background-color: #191919' %}
{% assign css = '' %}

{% include_relative item/h.html id='q1' src='/icons/logos/dark_bg.png' s=s %}
{% include_relative item/h.html id='q2' src='/icons/logos/mono.png' s=s %}
{% include_relative item/h.html id='q2' src='/icons/logos/orig.png' s=s %}
{% include_relative item/h.html id='q2' src='/icons/logos/white.png' s=s %}


