.i-nav-item-header {
  font-family: var(--font-family-first);
  color: var(--font-color-primary);
  font-size: calc(var(--font-size-base) - 2px);
  font-weight: bold;
  transition-property: color;
  transition-duration: 300ms;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  max-width: 100%;
}

.i-nav-item-header:hover {
  color: var(--font-color-secondary);
}

.i-nav-item-header.selected {
  color: var(--font-color-secondary);
  cursor: default;
}
