.poster-section-base {
    position: relative;
    overflow: hidden;
}

.poster-section-base img {
    width: 100%;
    height: 100%;
    transition: 10s;
    backface-visibility: hidden;
    border-radius: 3px;
}

.poster-section-base:hover img {
    transition: 25s;
    /*perspective: 1000px;*/
    transform: scale(1.5) translateX(15%);
}

.poster-section-base .interaction {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.poster-section-base .name {
    font-size: 48px;
    color: #fff;
}