<footer class="i-footer-responsive {{include.css}}">
    <div class="content">
        <div class="nav indent-block-bottom">
            <div class="indent-el-right">
                {%include nav/item/footer/index.html page_name='HOME'%}
                {%include nav/item/footer/index.html page_name='ABOUT_TRIATHLON'%}
                {%include nav/item/footer/index.html page_name='COACHES'%}
                {%include nav/item/footer/index.html page_name='PLACES'%}
            </div>
            <div class="indent-el-right">
                {%include nav/item/footer/index.html page_name='INDIVIDUAL_TRAINING'%}
                {%include nav/item/footer/index.html page_name='PRICES'%}
                {%include nav/item/footer/index.html page_name='CONTACTS'%}
                {%include nav/item/footer/index.html page_name='REPORTS'%}
            </div>
        </div>

        <div class="social">
            {%include contact/social/primary/index.html css=''%}
        </div>
    </div>
</footer>
