<footer class="i-footer-responsive {{include.css}}">
  <div class="content">
    <div class="nav indent-block-bottom">
      <div class="indent-el-right">
        {%include nav/item/footer/index.html page_name='HOME'%}
        {%include nav/item/footer/index.html page_name='ABOUT_TRIATHLON'%}
        {%include nav/item/footer/index.html page_name='COACHES'%}
        {%include nav/item/footer/index.html page_name='PLACES'%}
      </div>
      <div class="indent-el-right">
        {%include nav/item/footer/index.html page_name='COACHING'%}
        {%include nav/item/footer/index.html page_name='PRICES'%}
        {%include nav/item/footer/index.html page_name='CONTACTS'%}
        {%include nav/item/footer/index.html page_name='REPORTS'%}
      </div>
      <div class="indent-el-right">
        {%include nav/item/footer/index.html page_name='PARTNERS'%}
      </div>
    </div>

    <div class="i-footer-responsive-social">
      <div class="i-footer-responsive-partners">
        <a href="https://adidas.com"
           class="i-footer-responsive-partner"
           target="_blank" rel="noopener">
          <img src="{{'imgs/partners/adidas_logo.svg' | relative_url}}"
               class="i-footer-responsive-partners-logo">
        </a>
        <a href=""
           class="i-footer-responsive-partner"
           target="_blank" rel="noopener">
          <img src="{{'imgs/partners/endurance_logo.svg' | relative_url}}"
               class="i-footer-responsive-partners-logo">
        </a>
      </div>
      {%include contact/social/primary/index.html css=''%}
    </div>
  </div>
</footer>
