{%include nav/item/footer/style.css%}

.i-footer-responsive {
  background-color: #F2F4F5;
  width: 100%;
  padding-top: var(--indent-m);
  padding-bottom: var(--indent-m);
}

.i-footer-responsive .content {
  max-width: var(--max-width-content);
  margin-left: auto;
  margin-right: auto;
}

.i-footer-responsive-social {
  border-top: 1px #D0D6DA solid;
  text-align: right;
  padding-top: var(--indent-xs);

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.i-footer-responsive-partners {
  margin-right: var(--indent-xl);
  height: 25px;
}

.i-footer-responsive-partner {
  margin-left: var(--indent-s);
}

.i-footer-responsive-partners-logo {
  max-height: 100%;
}

.i-footer-responsive .nav {
  display: flex;
}

.i-footer-responsive .nav>div {
  display: flex;
  flex-direction: column
}
