.contact-phone-primary {
    border-radius: 3px;
    color: var(--font-color-second);
    padding: 3px 10px 3px 25px;
    font-family: var(--font-family-first);
    font-size: 12px;

    background-color: #D8D8D8;
    background-image: url("{{site.baseurl}}/assets/icons/ic_call_black_24px.svg");
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 5px 50%;
}