---
layout: a_base
nav_light: PRICES
---

<h1 class="typography-page-name">Цены</h1>

<div class="prices-coaches">

  <div class="prices-item prices-item-title">
    <div class="prices-item-avatar-empty"></div>
    <div class="prices-item-values">
      <div class="">План на месяц</div>
      <div class="">Персональная тренировка</div>
      <div class="">Видео анализ</div>
      <div class="">online консультация</div>
      <div class="">Тренировка на технику</div>
      <div class="">Группа детей</div>
    </div>
  </div>


  {% for coach in site.coach %}
    {% assign price=coach.price %}

    {% if forloop.index==4 %}
      <div class="prices-item prices-item-title">
        <div class="prices-item-avatar-empty"></div>
        <div class="prices-item-values">
          <div class="">План на месяц</div>
          <div class="">Персональная тренировка</div>
          <div class="">Видео анализ</div>
          <div class="">online консультация</div>
          <div class="">Тренировка на технику</div>
          <div class="">Группа детей</div>
        </div>
      </div>
    {% endif %}

    <div class="prices-item">
      <a href="{{ 'coach/' | append: coach.coach_id | relative_url }}/">
        {% include coach/avatar/h.html avatars=coach.avatars css='' %}
      </a>

      <div class="prices-item-values">
        <div class="">{{ price.plan_on_month }}</div>
        <div class="">{{ price.personal_coaching }}</div>
        <div class="">{{ price.video_analysis_coaching }}</div>
        <div class="">{{ price.oneline_consultation }}</div>
        <div class="">{{ price.personal_coaching_for_technics }}</div>
        <div class="">{{ price.group_kids_coaching }}</div>
      </div>

      <div class="prices-item-action">
        {% include act/link/btn/more/index.html
        css='prices-item-action'
        url=site.data.pages.RECORDING_TRAINING.url
        text='ЗАПИСАТЬСЯ' %}
      </div>
    </div>
  {% endfor %}
</div>
