.i-act-link-btn-more {
  display: inline-block;
  border-radius: 3px;
  background-color: var(--font-color-secondary);
  font-size: 20px;
  color: #fff;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  transition-property: background-color, box-shadow;
  transition-duration: 300ms;
}

.i-act-link-btn-more:hover {
  background-color: var(--font-color-primary);
  box-shadow: 0 0 10px #999;
}

.i-avatar-coach {
  border-radius: 50%;
  box-shadow: 0 0 10px #ccc;
  opacity: 0.8;
  max-width: 100%;
  max-height: 100%;
}


.prices-coaches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--indent-l);
}

.prices-item {
  width: 200px;
  height: 490px;
  margin-left: var(--indent-m);
  margin-right: var(--indent-m);
  margin-bottom: var(--indent-xxxl);
  position: relative;
}

.prices-item-title {
  width: 300px;
}

.prices-item-action {
  text-align: center;
  margin-top: var(--indent-m);
  position: absolute;
  bottom: 0;
}

.prices-item-values {
  margin-top: var(--indent-m);
  position: absolute;
  top: 210px;
  width: 100%;
}

.prices-item-values>div {
  text-align: right;
  padding-right: var(--indent-l);
  height: 1.5em;

  border-bottom: 1px #efefef solid;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

