.act-link-btn-more {
  display: inline-block;
  border-radius: 3px;
  background-color: var(--font-color-second);
  font-size: 20px;
  color: #fff;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  transition-property: background-color, box-shadow;
  transition-duration: 300ms;
}

.act-link-btn-more:hover {
  background-color: var(--font-color-first);
  box-shadow: 0 0 10px #999;
}