---
layout: b_complete_page
nav_light: PLACES
---

<h1 class="typography-page-name">Места проведения персональных тренировок</h1>

<div class="places">
  <div id="map" class="places-map"></div>

  <div class="places-list">
    {%for item in site.data.places%}
      {%assign place=item[1]%}

      {%include_relative item/index.html place=place%}
    {%endfor%}
  </div>

  <div class="places-action">
    {%include act/link/btn/more/index.html
    css=''
    url=site.data.pages.COACHING.url
    text='ПОДРОБНЕЕ О ТРЕНИРОВКАХ'
    %}
  </div>
</div>
