---
layout: a_base
nav_light: PLACES

cssUrls: style.css
jsUrls: script.js

cssContentClassName: pt-5 pb-5
---

<h1 class="typo-page-name">Места проведения персональных тренировок</h1>

<div id="map" class="places-map"></div>

<div class="container places mt-5">
  {% for item in site.data.places %}
    {% assign place=item[1] %}
    {% include_relative item/index.html place=place %}
  {% endfor %}

  <div class="places-act">
    <a href="{{ site.data.pages.COACHING.url | relative_url }}" class="btn g-btn">ПОДРОБНЕЕ О ТРЕНИРОВКАХ</a>
  </div>
</div>
