.places-item:not(:first-child) {
  margin-top: var(--indent-xl);
}

.places-item-main {
  display: flex;
  align-items: start;
}
.places-item-main img {
  margin-right: var(--indent-m);
  margin-left: var(--indent-m);
}

.places-item-img {
  height: 150px;
}

.places-item-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.places-map {
  height: 600px;
  margin-top: var(--indent-l);
  background-color: rgba(0, 0, 0, 0.03);
}

.places-act {
  margin-top: var(--indent-xl);
  text-align: center;
}
