---
---

{% include_relative item/style.css %}

.places-map {
  height: 600px;
  margin-top: var(--indent-l);
  background-color: rgba(0, 0, 0, 0.03);
}

.places-act {
  margin-top: var(--indent-xl);
  text-align: center;
}
