.i-act-link-btn-more {
  display: inline-block;
  border-radius: 3px;
  background-color: var(--font-color-secondary);
  font-size: 20px;
  color: #fff;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  transition-property: background-color, box-shadow;
  transition-duration: 300ms;
}

.i-act-link-btn-more:hover {
  background-color: var(--font-color-primary);
  box-shadow: 0 0 10px #999;
}

.places-item {
  height: 150px;
  display: flex;

}

.places-item:not(:first-child) {
  margin-top: var(--indent-xl);
}

.places-item img {
  height: 100%;
}

.places-item-info {
  margin-left: var(--indent-xl);
}

.places-item-info .icon {
  height: 46px;
  margin-right: var(--indent-s);
}

.places-item-info .main {
  display: flex;
}

.places-item-img {
  width: 200px;
  text-align: center;
}


.places-map {
  height: 600px;
  margin-top: var(--indent-l);
  background-color: rgba(0, 0, 0, 0.03);
}

.places-action {
  text-align: center;
  margin-top: var(--indent-xxxl);
}

.places-list {
  margin-top: var(--indent-xxxl);
  margin-left: var(--indent-xl);
  margin-right: var(--indent-xl);
}

