---
layout: a_base
permalink: /
nav_light: HOME
title: Азбука Триатлона Кирилл Голдовский
---

{% include slider/primary/index.html %}

<div class="home-info typography-text-definition">
Азбука триатлона - дает возможность выбрать услугу для занятий триатлоном. Персональная тренировка, дистанционная и тренировка с детским тренером. Вы получаете только профессиональные рекомендации по подготовке к триатлону так как в нашей команде работают тренеры высшей категории. Все что нужно это отправить заявку и мы свяжемся с вами.
</div>

{% include_relative composition/index.html %}

{% include_relative tile/index.html %}

<section class="home-last-news">
  <h2 class="typography-h2-section-name">Последние новости</h2>
  {% include last_news/widget/index.html css='home-last-news-size' %}

  {%
    include act/link/btn/more/index.html
      css=''
      url=site.data.pages.NEWS.url
      text='СМОТРЕТЬ ВСЕ НОВОСТИ'
  %}
</section>




