    .i-btn-reset {
  border: none;
  background: none;
}

.i-act-link-btn-more {
  display: inline-block;
  border-radius: 3px;
  background-color: var(--font-color-secondary);
  font-size: 20px;
  color: #fff;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  transition-property: background-color, box-shadow;
  transition-duration: 300ms;
}

.i-act-link-btn-more:hover {
  background-color: var(--font-color-primary);
  box-shadow: 0 0 10px #999;
}


.i-slider-primary {
  height: 600px;
  position: relative;
}

.i-slider-primary-poster {
  width: 100%;
  height: 100%;
  background-image: url("/imgs/slider_001.jpg");
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  opacity: 0.8;
  z-index: -1;
}

.i-slider-primary-poster-pointers {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.i-slider-primary-poster-pointers > span {
  display: inline-block;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  margin: 0 4px;
  background-color: var(--font-color-primary);
}

.i-slider-primary-poster-pointers > span.selected {
  background-color: var(--font-color-secondary);
}

.i-slider-primary-interaction {
  max-width: var(--max-width-content);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.i-slider-primary-promotion {
  z-index: 2;
  text-align: center;
}

.i-slider-primary-promotion-msg {
  color: #fff;
}

.i-slider-primary-arrow-left, .i-slider-primary-arrow-right {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}

.i-slider-primary-arrow-left {
  background-image: url("/icons/ic_keyboard_arrow_left_white_24px.svg");
}

.i-slider-primary-arrow-right {
  background-image: url("/icons/ic_keyboard_arrow_right_white_24px.svg");
}


.i-last-news-item {
  position: relative;
}

.i-last-news-item img {
  height: 100%;
  /*border-radius: 3px;*/
  box-shadow: 0 0 10px 0 #ccc;
  transition-property: box-shadow, opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.i-last-news-item:hover img {
  box-shadow: 0 0 20px #999999;
  transform: scale(1.01);
}

.i-last-news-item-sign-pos {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 5px 5px 5px;

}

.i-last-news-item-sign {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  padding: 5px 15px;
  background-color: rgba(256, 256, 256, 0.4);
  border-radius: 5px;
  white-space: normal;
}

.i-last-news-item-sign .name {
  color: #fff;
  display: inline-block;
}

.i-last-news-item-sign .date {
  color: var(--font-color-secondary);
  font-size: 12px;
  display: inline-block;
}


.i-last-news {
  width: 100%;
  white-space: nowrap;
}

.i-last-news-item {
  height: 100%;
  display: inline-block;
}

.i-act-link-btn-more {
  display: inline-block;
  border-radius: 3px;
  background-color: var(--font-color-secondary);
  font-size: 20px;
  color: #fff;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  transition-property: background-color, box-shadow;
  transition-duration: 300ms;
}

.i-act-link-btn-more:hover {
  background-color: var(--font-color-primary);
  box-shadow: 0 0 10px #999;
}


.home-composition {
  max-width: var(--max-width-content);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--indent-section);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-composition article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-composition article .description {
  flex-grow: 1;
}

.home-composition .figure {

}

.home-composition .sign {
  color: var(--font-color-secondary);
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  transition: color 300ms;
}

.home-composition .sign:hover {
  color: var(--font-color-primary);
}

.home-composition .description {
  width: 280px;
  margin-top: 20px;
  text-align: justify;
  border: var(--border-description);
  padding: var(--indent-s);
}

.home-tile {
  margin-top: var(--indent-section);
}
.home-tile-row {
  display: flex;
  justify-content: center;
}

.home-tile-row:not(:first-child) {
  margin-top: var(--indent-el);
}

.home-tile-item {
  width: 40%;
}

.home-tile-item:nth-child(2) {
  margin-left: var(--indent-block);
}

.home-tile-item {
  position: relative;
  overflow: hidden;
}

.home-tile-item img {
  width: 100%;
  height: 100%;
  transition: 10s;
  backface-visibility: hidden;
  border-radius: 3px;
}

.home-tile-item:hover img {
  transition: 25s;
  transform: scale(1.5) translateX(15%);
}

.home-tile-item .interaction {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-tile-item .name {
  color: #fff;
}


.home-info {
  max-width: var(--max-width-content);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--indent-section);
}

.home-last-news {
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--indent-section);
  max-width: var(--max-width-content);
  text-align: center;
}

.home-last-news-size {
  height: 250px;
  margin-top: var(--indent-block);
  margin-bottom: var(--indent-block);
}
