<div class="i-slider-primary">
  <div class="i-slider-primary-poster">
    <div class="i-slider-primary-poster-pointers">
      <span class="selected"></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="i-slider-primary-interaction">
    <button class="i-btn-reset i-slider-primary-arrow-left"></button>
    <div class="i-slider-primary-promotion">
      <h1 class="typography-h1-banner-promo i-slider-primary-promotion-msg">Триатлон<br>Индивидуальные тренировки</h1>
      {%
        include act/link/btn/more/index.html
          css='indent-el-top'
          url=site.data.pages.INDIVIDUAL_TRAINING.url
          text='УЗНАТЬ БОЛЬШЕ'
      %}
    </div>
    <button class="i-btn-reset i-slider-primary-arrow-right"></button>
  </div>
</div>
