<div class="slider-primary">
    <div class="slider-primary-poster">
        <div class="slider-primary-poster-pointers">
            <span class="selected"></span>
            <span></span>
            <span></span>
        </div>

    </div>

     <div class="slider-primary-interaction">
        <button class="btn-reset slider-primary-arrow-left"></button>
        <div class="slider-primary-promotion">
            <h2 class="slider-primary-promotion-msg">Триатлон<br>Индивидуальные тренировки</h2>
            <a
               href="{{site.data.pages.INDIVIDUAL_TRAINING.href | urlPage}}"
               class="slider-primary-promotion-action indent-el-top"
            >
                УЗНАТЬ БОЛЬШЕ
            </a>
        </div>
        <button class="btn-reset slider-primary-arrow-right"></button>
     </div>
</div>