{% include css/btn_reset.css %}
{% include act/link/btn/more/style.css %}

.i-slider-primary {
  height: 600px;
  position: relative;
}

.i-slider-primary-poster {
  width: 100%;
  height: 100%;
  background-image: url("{{ site.baseurl }}/imgs/slider_001.jpg");
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  opacity: 0.8;
  z-index: -1;
}

.i-slider-primary-poster-pointers {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.i-slider-primary-poster-pointers > span {
  display: inline-block;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  margin: 0 4px;
  background-color: var(--font-color-primary);
}

.i-slider-primary-poster-pointers > span.selected {
  background-color: var(--font-color-secondary);
}

.i-slider-primary-interaction {
  max-width: var(--max-width-content);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.i-slider-primary-promotion {
  z-index: 2;
  text-align: center;
}

.i-slider-primary-promotion-msg {
  color: #fff;
}

.i-slider-primary-arrow-left, .i-slider-primary-arrow-right {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}

.i-slider-primary-arrow-left {
  background-image: url("{{ site.baseurl }}/icons/ic_keyboard_arrow_left_white_24px.svg");
}

.i-slider-primary-arrow-right {
  background-image: url("{{ site.baseurl }}/icons/ic_keyboard_arrow_right_white_24px.svg");
}
