.places-item {
  height: 150px;
  display: flex;

}

.places-item:not(:first-child) {
  margin-top: var(--indent-xl);
}

.places-item img {
  height: 100%;
}

.places-item-info {
  margin-left: var(--indent-xl);
}

.places-item-info .icon {
  height: 46px;
  margin-right: var(--indent-s);
}

.places-item-info .main {
  display: flex;
}

.places-item-img {
  width: 200px;
  text-align: center;
}
