.i-avatar-coach {
  border-radius: 50%;
  box-shadow: 0 0 10px #ccc;
  opacity: 0.8;
  max-width: 100%;
  max-height: 100%;
}

.i-act-link-btn-more {
  display: inline-block;
  border-radius: 3px;
  background-color: var(--font-color-secondary);
  font-size: 20px;
  color: #fff;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  transition-property: background-color, box-shadow;
  transition-duration: 300ms;
}

.i-act-link-btn-more:hover {
  background-color: var(--font-color-primary);
  box-shadow: 0 0 10px #999;
}


.about-triathlon {
  margin-left: var(--indent-xl);
  margin-right: var(--indent-xl);
  margin-top: var(--indent-m);
}

.about-triathlon>.line {
  display: flex;
}

.about-triathlon>.line:not(:first-child) {
  margin-top: var(--indent-l);
}

.about-triathlon .img {
  margin-left: 100px;
  min-width: 426px;
  min-height: 267px;
}

.about-triathlon-coaches {
  margin-top: var(--indent-xxl);
  margin-left: var(--indent-xl);
  margin-right: var(--indent-xl);
  text-align: center;
}

.about-triathlon-coaches .list {
  margin-top: var(--indent-l);
  position: relative;
}

.about-triathlon-coaches .coaches {
  overflow: auto;
  white-space: nowrap;
}

.about-triathlon-coaches .shadow-right, .about-triathlon-coaches .shadow-left {
  width: calc(var(--indent-xl) * 2);
  position: absolute;
  top: 0;
  bottom: 0;
}

.about-triathlon-coaches .shadow-left {
  background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0));
  left: 0;
}

.about-triathlon-coaches .shadow-right {
  background: linear-gradient(-90deg, #fff, rgba(255, 255, 255, 0));
  right: 0;
}

.about-triathlon-coaches .action {
  margin-top: var(--indent-l);
}

.about-triathlon-coach-avatar {
  width: 150px;
  height: 150px;
}

.about-triathlon-coach-avatar:not(:first-child) {
  margin-left: calc(var(--indent-xl) * 2);
}

.about-triathlon-coaches .coaches a:not(:first-child) {
  margin-left: calc(var(--indent-xl) * 2);
}
