---
---
{% include coach/avatar/c.css %}
{% include bg/promo/s.css %}
{% include scroll/x/coaches/c.css %}

{% include act/link/btn/more/style.css %}

.about-triathlon-content {
  background-color: white;
}

.about-triathlon-content-img {
  width: 100%;
  object-fit: cover;
}

.about-triathlon-coaches {
  height: 200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
