<header class="header-general {{include.css}}">
    <a class="header-general-logo" href="{{site.data.pages.HOME.href | urlPage}}">
        {%include logo/primary/index.html%}
    </a>
    <div class="header-general-items">
        {%include nav/item/header/index.html page_name="HOME"%}

        {%include nav/item/header/index.html page_name="ABOUT_TRIATHLON"%}

        {%include nav/item/header/index.html page_name="COACHES"%}

        {%include nav/item/header/index.html page_name="PLACES"%}

        {%include nav/item/header/index.html page_name="SPORTS_FEES"%}

        {%include nav/item/header/index.html page_name="PRICES"%}

        {%include nav/item/header/index.html page_name="REPORTS_ON_COMPETITION"%}

        {%include nav/item/header/index.html page_name="FEEDBACK"%}

        {%include nav/item/header/index.html page_name="CONTACTS"%}
    </div>
    <div class="header-general-contact">
        {%include contact/phone/primary/index.html%}
        {%include contact/social/primary/index.html css="header-general-contact-social indent-el-top"%}
    </div>
</header>
