<header class="header-general {{include.param}}">
    <a class="header-general-logo" href="/">
        {%include logo/primary/index.html%}
    </a>
    <div class="">
        {%include nav/item/header/index.html param2="home"%}

        {%include nav/item/header/index.html param2="about_triathlon"%}

        {%include nav/item/header/index.html param2="coaches"%}
        {%include nav/item/header/index.html param2="places"%}
        {%include nav/item/header/index.html param2="sports_fees"%}


    </div>
    <div class="rrr">контакты</div>
</header>
