<header class="header-general {{include.param}}">
    <a class="header-general-logo" href="{{site.data.pages.HOME.href | urlPage}}">
        {%include logo/primary/index.html%}
    </a>
    <div class="header-general-items">
        {%include nav/item/header/index.html param2="HOME"%}

        {%include nav/item/header/index.html param2="ABOUT_TRIATHLON"%}

        {%include nav/item/header/index.html param2="COACHES"%}

        {%include nav/item/header/index.html param2="PLACES"%}

        {%include nav/item/header/index.html param2="SPORTS_FEES"%}

        {%include nav/item/header/index.html param2="PRICES"%}

        {%include nav/item/header/index.html param2="REPORTS_ON_COMPETITION"%}

        {%include nav/item/header/index.html param2="FEEDBACK"%}

        {%include nav/item/header/index.html param2="CONTACTS"%}
    </div>
    <div class="header-general-contact">
        {%include contact/phone/primary/index.html%}
        {%include contact/social/primary/index.html param="header-general-contact-social"%}
    </div>
</header>
