{%include logo/primary/style.css%}
{%include nav/item/header/style.css%}
{%include contact/phone/primary/style.css%}
{%include contact/social/primary/style.css%}

.header-general {
  max-width: var(--content-txt-max-width);
  font-size: var(--font-size-base);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  box-sizing: border-box;
  width: 100%;
}

.header-general-logo {
  min-width: 155px;
}

.header-general-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 140%;
}

.header-general-items>* {
  margin-left: 40px;
}

.header-general-contact {
  display: flex;
  flex-direction: column;
}

.header-general-contact-social {
  margin-top: 10px;
}


