---
---

.reports {

}

.reports-years {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(216, 216, 216, 0.28);
  padding: 10px 20px;
  border-radius: 2px;
}

.reports-years>a {
  margin-left: var(--indent-s);
  margin-right: var(--indent-s);
  color: var(--font-color-primary);
}
