<style>
  {% include debug/panel/style.css %}

  .d-tr-td-content {
    width: 100%;
  }

  .d-tr-td-content>textarea {
    width: 100%;
  }

</style>


<section class="i-debug-panel"><div>


  <textarea rows="5" style="width: 700px; height: 500px;">

    {% assign image_files = site.static_files | where: "image", true %}
    {% for myimage in site.static_files %}
      {{ myimage.path }}
    {% endfor %}

  </textarea>

  {% comment %}}
  <h3>site</h3>
    <table>
      {% for key in site %}
      <tr>
        <td>{{key}}</td>
        <td class="d-tr-td-content">
          <textarea rows="5">{{page[key]}}</textarea>
        </td>
      </tr>
      {% endfor %}
    </table>
  <br>
  {% endcomment %}



  {% comment %}
  <h2>page</h2>
  <table>
    {% for key in page %}
    <tr>
      <td>{{key}}</td>
      <td class="d-tr-td-content">
        <textarea rows="2">{{page[key]}}</textarea>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endcomment %}





  {% comment %}
  <br><hr>
  <h2>site</h2>
    size site.posts: {{site.posts | size}}
  <br>

  <table>
    {% for key in site %}

      <tr>
        <td>{{key}}</td>
        <td class="d-tr-td-content">
          <textarea rows="">{{site[key]}}</textarea>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% endcomment %}


</div></section>
