.debug-panel {
  position: fixed;
  z-index: 100;
  background-color: #fff;

  color: #444444;
  padding: 5px 10px;
  font-size: 12px;

  overflow: auto;

  right: 0;
  bottom: 30px;

  width: 50%;
  height: 400px;

  box-shadow: 0 0 30px #000;

  transform: translateX(calc(100% - 30px));
  transition-property: transform, opacity;
  transition-duration: 600ms;

  opacity: .3;
}

.debug-panel:hover {
  transform: translateX(0);
  opacity: 1;
}