.logo-primary {
  display: inline-block;
  text-align: center;

  font-size: 24px;
  font-family: var(--font-family-first);
  font-weight: bold;
}

.logo-primary-abc-1 {
  color: red;
}
.logo-primary-abc-2 {
  color: green;
}
.logo-primary-abc-3 {
  color: blue;
}
.logo-primary-abc-4 {
  color: #c5c500;
}
.logo-primary-abc-5 {
  color: green;
}
.logo-primary-abc-6 {
  color: red;
}


.logo-primary-name {
  text-align: center;
  color: var(--font-color-second);
}