.bg-promo {
  width: 100%;
  height: var(--el-bg-promo-h);
  min-height: var(--el-bg-promo-min-h);
  max-height: var(--el-bg-promo-max-h);
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: var(--el-header-h);
  opacity: 0.9;
}

.bg-promo-content {
  height: var(--el-bg-promo-h);
  min-height: var(--el-bg-promo-min-h);
  max-height: var(--el-bg-promo-max-h);

  color: white;
}

.bg-promo-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


