.home-composition {
  max-width: var(--max-width-content);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--indent-section);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-composition article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-composition article .description {
  flex-grow: 1;
}

.home-composition .figure {

}

.home-composition .sign {
  color: var(--font-color-secondary);
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  transition: color 300ms;
}

.home-composition .sign:hover {
  color: var(--font-color-primary);
}

.home-composition .description {
  width: 280px;
  margin-top: 20px;
  text-align: justify;
  border: var(--border-description);
  padding: var(--indent-s);
}
