:root {
  --content-txt-max-width: 1200px;
  --font-family-first: "Comic Sans MS";
  --font-color-first: #485F6E;
  --font-color-second: #39c360;

  --typography: 18px;

  --indent-el: 20px;
  --indent-block: 40px;
  --indent-section: 60px;

  --indent-inner-xs: 10px;
  --indent-inner-s: 20px;
  --indent-inner-m: 30px;
  --indent-inner-l: 40px;
  --indent-inner-xl: 50px;
}