{%assign student = include.student%}

<div class="student-item {{include.css}}">
  <div class="student-item-avatar">
    <img src="{{student.avatars[0] | createURL}}">
  </div>
  <div class="student-item-info">
    <div class="student-item-fio">{{student.fio}}</div>
    <div class="student-item-about typography-text-about">{{student.about}}</div>
    <div class="student-item-starts">
      {%for start in student.starts%}
        <a href="{{start.url}}" target="_blank" rel="noopener" class="typography-link-ext-start">
          {{start.title}}
        </a>
      {%endfor%}
    </div>
  </div>
  <div class="student-item-sport-logos">
    {%for logo in student.sport_logos%}
      <img src="{{'imgs/sport_logos/' | append:logo | append:'.png' | createURL}}">
    {%endfor%}
  </div>
</div>
