{% comment %}<!--
 информация о тренере

@param String content
@param String css
@param css_typography
-->{% endcomment %}

{% capture css_typography %}{{ include.css_typography | default: 'i-coach-about-content-default typography-coach'}}{% endcapture %}

<div class="i-coach-about {{ include.css }}">
  <div class="i-coach-about-shadow-top hide"></div>

  <div class="i-coach-about-content {{ css_typography }}">{{ include.content }}</div>

  <div class="i-coach-about-shadow-bottom"></div>
</div>
