---
layout: a_base
nav_light: COACHING
---

<h1 class="typography-page-name">Индивидульные тренировка</h1>

<div class="coaching-intro">
  <div class="typography-title-of-article">Как проходит персональная тренировка?</div>
  <ul class="coaching-intro-list">
    <li>Тренировка проводится исходя из вашего плана подготовки и уровня подготовки.</li>
    <li>назначение места и времени проведения тренировки (удобное клиенту  и тренеру)</li>
    <li>план тренировки - проговаривание</li>
    <li>разминочная часть ( подготовка суставов к работе, легкая разминка и растяжка )</li>
    <li>основаная часть работы ( например длительная тренировка от 1до 2 -ух и более часов на велосипеде )</li>
    <li>Работа тренера над техникой и дыханием, спарринг</li>
    <li>видео съемка, для выявления ошибок</li>
    <li>подборка упражнения для улучшения техники, экономичность техники, закрепление правильного движения</li>
    <li>заминка обязательная часть тренировки,растяжка и наставление на восстановление</li>
  </ul>
</div>

<h2 class="typography-title-of-article">Пример тренировочного плана на неделю</h2>

<div class="coaching-program-item">
  {% include_relative week/mon.html %}
  {% include_relative week/tue.html %}


</div>



<div class="coaching-program-item">
  <div class="coaching-day typography-text-definition">
    Среда
  </div>
  <div class="coaching-description">
    ▪Утро плавание - 1000 м
    100 кроль
    100 м кроль колобашкой. ( отдыха нет просто остановка и берёте и оставляете колобашку)
    Основное с колобашкой начало гребка.
    Кролем касаться бедра большим пальцем )
    400 ноги с доской. ( 75 средне -25 ускорение )

    ▪Вечер -вело силовое.
    Через -20-30 минут после велотрек.
    Бег - 6 км по велокольцу. ( в одну сторону 3 км спокойной начать пульс 135 и развернуться 3 км обратно 140  ) ( основное включать стопу и таз что бы работал ) ( ритм 180 )
    Растяжка 5 мин.
  </div>
</div>



<div class="coaching-program-item">
  <div class="coaching-day typography-text-definition">
    Четверг
  </div>
  <div class="coaching-description">
    ▪Утро - отдых.
    ▪Вечер - бег разминка 2 км. Растяжка 5 мин. 1 серия беговых по 40 м. 2 ускорения по 100 м через отдых 1 минута.
    Разгон 20 метров далее накат как велосипеде.
    6 по 1000 м через 5 минут заминка 600 м.
    1000 бежать пульсе 150-155.
    Заминка 2 км свободно пульс 120 мини.

    ✅1-ОФП статодинамика на одной ноге ( смена ног)
    10-10,, 8-8, 6-6.
    ▪Распрыжка 3 по 50 через 30 отдыха.
    ▪Отжимания 2 по 15
    ▪Стопа 2 по 10
    ▪Волна 2 по 15
    ▪пресс 3 по 20
    ▪Спина 2 по 15
    ▪Боковой пресс 2-10
    ▪2 серия Статодинамика 10-10, 8-8, 6-6.
    ▪Махи ногами -2 по 20
    ▪Работа рук 2 по 30 сек.
    ▪Растяжка всего тела 5-7 минут
  </div>
</div>



<div class="coaching-program-item">
  <div class="coaching-day typography-text-definition">
    Пятница
  </div>
  <div class="coaching-description">
    ▪Утро - плавание - дистанционное 2 по 800 м без остановки
    1-Плыть на 50 процентов. На технику дыхание 3-3.
    2-плыть с колобашкой лопатками на технику дыхание 3-3.
    ▪Вечер бег - 8 км свободно на технику. Ритм 180 шагов пульс 130 не выше. Растяжка.
  </div>
</div>



<div class="coaching-program-item">
  <div class="coaching-day typography-text-definition">
    Суббота
  </div>
  <div class="coaching-description">
    ▪Утро вело -длинное. ( сразу бег )
    ▪Бег -8 км вокруг канала. ( 4 км в одну сторону первые 4 км на мощность бежать частота 180 шагов( толкаться стопой )  -4 км в другую строну. Обратно -на своей частоте 185-190.
    Растяжку 5 мини.
  </div>
</div>




<div class="coaching-program-item">
  <div class="coaching-day typography-text-definition">
    Воскресение
  </div>
  <div class="coaching-description">
    Утро - отдых
    ▪Плавание - 400 м кроль разминка.
    10 по 50 м - 8 гребков максимально далее
    Свободно доплывать. Отдых 20 секунд выдох в воду.
    200 спина свободно
    10 по 50 м.
  </div>
</div>
