.coaches-advantages .card {
  border: 1px solid var(--color-border-light);
  padding: var(--indent-l) var(--indent-s);
}

.coaches-advantages .num {
  font-size: var(--font-size-h2);
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--color-border-num);
  text-align: center;
  line-height: 93px;
}

.coaches-advantages .title {
  color: var(--font-color-secondary);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: var(--indent-m);
  margin-bottom: var(--indent-m);
  min-height: 80px;
}

.coaches-advantages .content {
  text-align: justify;
}

.i-avatar-coach {
  border-radius: 50%;
  box-shadow: 0 0 10px #ccc;
  opacity: 0.8;
  max-width: 100%;
  max-height: 100%;
}


.coaches-list {}

.coaches-item {
  --h-w-avatar: 200px;
  padding: var(--indent-l) var(--indent-s);
}

.coaches-item .inner {
  border: 1px solid rgb(222, 226, 230);
  border-radius: 5px;
  padding: var(--indent-l) var(--indent-s);
  height: 900px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.coaches-item .avatar {
  width: var(--h-w-avatar);
  height: var(--h-w-avatar);
  margin-left: auto;
  margin-right: auto;
}

.coaches-item .title {
  text-align: center;
  padding-top: var(--indent-m);
  font-weight: bold;
}

.coaches-item .text {
  overflow: hidden;
  flex-grow: 1;
  /*font-size: calc(var(--font-size-responsive) - 10px);*/
  /*font-weight: bold;*/
}

.coaches-item .act {
  margin-top: var(--indent-l);
}

.coaches-item .excess {
  text-align: left;
  margin-right: auto;
}

/* sm */
@media (min-width: 576px) {
  .coaches-item {
    --h-w-avatar: 250px;
  }
}

/* md */
@media (min-width: 768px) {
  .coaches-item {
    --h-w-avatar: 300px;
  }
}

