.i-contacts-social-one a:hover {
  text-decoration: none;
}

.i-contacts-social-one-size {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}


.i-act-link-btn-more {
  display: inline-block;
  border-radius: 3px;
  background-color: var(--font-color-secondary);
  font-size: 20px;
  color: #fff;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  transition-property: background-color, box-shadow;
  transition-duration: 300ms;
}

.i-act-link-btn-more:hover {
  background-color: var(--font-color-primary);
  box-shadow: 0 0 10px #999;
}


.contacts {
  margin-top: var(--indent-m);
  margin-left: var(--indent-xxxl);
  margin-right: var(--indent-xxxl);
}

.contacts .action {
  text-align: center;
  margin-top: var(--indent-xl);
}

.contacts-info {
  display: flex;
  justify-content: flex-start;
  margin-top: var(--indent-xl);
}

.contacts-info .schedule {
  margin-left: var(--indent-xxxl);
}

.contacts-info-connect {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.contacts-info-connect>* {
  margin-top: var(--indent-s);
}

.contacts-info-connect .social {
  display: flex;
}


.contacts-info-social {
  display: inline-block;
  margin-left: var(--indent-s);
}


.contacts-form {
  text-align: center;
  margin-top: var(--indent-xl);
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-form input, textarea {
  width: 500px;
  margin-top: var(--indent-m);
}

.contacts-form textarea {
  height: 100px;
}

