{%assign coach=include.coach%}

<div class="prices-item">
  <a href="{{'coach/' | append: coach.coach_id | urlOnSite}}/">
    {%include coach/avatar/index.html avatars=coach.avatars css='prices-item-avatar'%}
  </a>

  {%include coach/about/index.html content=coach.price_items css='prices-item-price' css_typography=''%}

  <div class="prices-item-action">
    {%
      include act/link/btn/more/index.html
        css='prices-item-action'
        url=site.data.pages.RECORDING_TRAINING.url
        text='ЗАПИСАТЬСЯ'
    %}
  </div>
</div>
