{%include coach/about/style.css%}

.prices-item {
  width: 280px;
  margin-bottom: var(--indent-xl);

  /*border: 1px solid gold;*/
}

.prices-item-avatar {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prices-item-price {
  height: 400px;
}

.prices-item-action {
  text-align: center;
  margin-top: var(--indent-m);
}
