.coaches-advantages .card {
  border: 1px solid var(--color-border-light);
  padding: var(--indent-l) var(--indent-s);
}

.coaches-advantages .num {
  font-size: var(--font-size-h2);
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--color-border-num);
  text-align: center;
  line-height: 93px;
}

.coaches-advantages .title {
  color: var(--font-color-secondary);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: var(--indent-m);
  margin-bottom: var(--indent-m);
  min-height: 80px;
}

.coaches-advantages .content {
  text-align: justify;
}
