.coaches-advantages>.title {
  text-align: center;
  margin-bottom: var(--indent-section);
}

.coaches-advantages-cards {
  --indent-between-card: var(--indent-l);
  display: flex;
}

.coaches-advantages-card {
  --w-h-num: 100px;
  border: 1px solid var(--color-border-light);
  padding: var(--indent-l) var(--indent-xs);
  width: calc((100% - var(--indent-between-card) * 2) / 3);
}

.coaches-advantages-card:not(:first-child) {
  margin-left: var(--indent-between-card);
}

.coaches-advantages-card>.num {
  margin-left: auto;
  margin-right: auto;
  width: var(--w-h-num);
  height: var(--w-h-num);
  border-radius: 50%;
  border: 3px solid var(--color-border-num);
  text-align: center;
  line-height: var(--w-h-num);
  margin-bottom: var(--indent-xl);
}

.coaches-advantages-card>.title {
  text-align: center;
  height: 2em;
  margin-bottom: var(--indent-xl);
}

.coaches-advantages-card>.content {
  text-align: center;
}
