{% include scroll/x/base/c.css %}

.scroll-x-coaches-content {

}

.scroll-x-coaches-content .scroll-x-coaches-it:first-child {
  margin-left: 50px;
}

.scroll-x-coaches-it {
  margin-right: 50px;
}

.scroll-x-coaches-it:hover {
  text-decoration: none;
}
