{%include nav/item/footer/style.css%}

.footer-general {
  background-color: #F2F4F5;
  width: 100%;
  padding-top: var(--indent-inner-m);
  padding-bottom: var(--indent-inner-m);
}

.footer-general .content {
  max-width: var(--content-txt-max-width);
  margin-left: auto;
  margin-right: auto;
}

.footer-general .social {
  border-top: 1px #D0D6DA solid;
  text-align: right;
  padding-top: var(--indent-inner-xs);
}

.footer-general .nav {
  display: flex;
}

.footer-general .nav>div {
  display: flex;
  flex-direction: column
}