---
---
{%include act/link/btn/more/style.css%}

.recording-training-title {
  text-align: center;
  margin-bottom: var(--indent-l);
}

.recording-training-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*font-size: smaller;*/
}

.recording-training-item {
  margin-bottom: var(--indent-m);
  display: flex;
  align-items: center;
}

.recording-training-item .field {
  min-width: 500px;
  margin-right: var(--indent-m);
}

.recording-training-action {
  margin-top: var(--indent-xl);
  text-align: center;
}

