---
layout: a_tpl
---

<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid g-max-width-content">
      <a class="navbar-brand" href="/">{% include logo/index.html src='/icons/logos/dark_bg.png' %}</a>

      <div class="collapse navbar-collapse w-100" id="header-navbar">
        <div class="navbar-nav d-flex flex-wrap justify-content-around">
          <div class="nav-item">{% include nav/item/header/index.html page_name='MAIN' %}</div>
          <div class="nav-item">{% include nav/item/header/index.html page_name='ABOUT_TRIATHLON' %}</div>
          <div class="nav-item">{% include nav/item/header/index.html page_name='COACHES' %}</div>
          <div class="nav-item">{% include nav/item/header/index.html page_name='PLACES' %}</div>
          <!--<div class="nav-item">{ % include nav/item/header/index.html page_name='PRICES' %}</div>-->
          <div class="nav-item">{% include nav/item/header/index.html page_name='COACHING' %}</div>
          <div class="nav-item">{% include nav/item/header/index.html page_name='REPORTS' %}</div>
          <div class="nav-item">{% include nav/item/header/index.html page_name='RECORDING_TRAINING' %}</div>
          <div class="nav-item">{% include nav/item/header/index.html page_name='CONTACTS' %}</div>

          <div class="nav-item d-lg-none">{% include contacts/social/one/index.html social=site.contacts.social css='' %}</div>
        </div>
      </div>

      <div class="d-xs-none">
        <div class="d-flex flex-column">
          {% include contacts/phone/one/index.html %}
          {% include contacts/social/one/index.html social=site.contacts.social css='d-none d-lg-block' %}
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>

<main class="{{ page.css }}">{{ content }}</main>

<footer class="footer bg-light pt-3 pb-3">
  <div class="container-fluid g-max-width-content">
    <nav class="nav mb-3">
      <div class="d-flex flex-row flex-wrap">
        <div class="mr-3 d-flex flex-column">
          {% include nav/item/footer/index.html page_name='MAIN' %}
          {% include nav/item/footer/index.html page_name='ABOUT_TRIATHLON' %}
          {% include nav/item/footer/index.html page_name='COACHES' %}
          {% include nav/item/footer/index.html page_name='PLACES' %}
        </div>
        <div class="mr-3 d-flex flex-column">
          {% include nav/item/footer/index.html page_name='COACHING' %}
          <!--{ % include nav/item/footer/index.html page_name='PRICES' %}-->
          {% include nav/item/footer/index.html page_name='CONTACTS' %}
          {% include nav/item/footer/index.html page_name='STUDENTS' %}
        </div>
        <div class="d-flex flex-column">
          {% include nav/item/footer/index.html page_name='PARTNERS' %}
          {% include nav/item/footer/index.html page_name='RECORDING_TRAINING' %}
        {% include nav/item/footer/index.html page_name='REPORTS' %}
        </div>
      </div>
    </nav>

    <div class="d-flex justify-content-end align-items-center pt-1 border-top">
      <div class="footer-partners mr-5">
        <a href="https://adidas.com"
           class="mr-2"
           target="_blank" rel="noopener"
        >
          <img src="{{ 'imgs/partners/adidas_logo.svg' | relative_url }}"
               alt="Логотип Adidas"
          >
        </a>
        <a href=""
           target="_blank" rel="noopener"
        >
          <img src="{{ 'imgs/partners/endurance_logo.svg' | relative_url }}"
               alt="Логотип endurance"
          >
        </a>
      </div>

      {% include contacts/social/one/index.html social=site.contacts.social css='' %}

    </div>
  </div>
</footer>


{% if jekyll.environment == 'DEV' %}
  <div style="position:fixed; bottom: 0; right: 0; color: gray; z-index: 10000; font-size: smaller; text-align: right;">
    {{ '' | getIncludesCssFiles | join:'<br>' }}
{% endif %}


{% if jekyll.environment == '_DEV' %}
  <!-- debug info -->
  <div class="i-debug-panel"><div>


    <br>-- {% getIncludesCssFiles %} --<br>


    {% comment %}}
    <textarea rows="5" style="width: 700px; height: 500px;">

      {% assign image_files = site.static_files | where: "image", true %}
      {% for myimage in site.static_files %}
        {{ myimage.path }}
      {% endfor %}

    </textarea>
    {% endcomment %}



    {% comment %}
    <h3>site</h3>
    <table>
      {% for key in site.contacts.social %}
      <tr>
        <td>{{ key }}</td>
        <td class="d-tr-td-content">
          <textarea rows="5">{{ site.contacts.social[key]}}</textarea>
        </td>
      </tr>
      {% endfor %}
    </table>
    <br>
    {% endcomment %}




    {% comment %}
    <h2>page</h2>
    <table>
      {% for key in page %}
      <tr>
        <td>{{ key }}</td>
        <td class="d-tr-td-content">
          <textarea rows="2">{{ page[key]}}</textarea>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endcomment %}





    {% comment %}
    <br><hr>
    <h2>site</h2>
    size site.posts: {{ site.posts | size }}
    <br>

    <table>
      {% for key in site %}

      <tr>
        <td>{{ key }}</td>
        <td class="d-tr-td-content">
          <textarea rows="">{{ site[key]}}</textarea>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endcomment %}


  </div></div>


  <style>
    .i-debug-panel {
      position: fixed;
      z-index: 100;
      background-color: #fff;

      color: #444444;
      padding: 5px 10px;
      font-size: 12px;

      overflow: auto;

      right: 0;
      bottom: 30px;

      width: 50%;
      height: 400px;

      box-shadow: 0 0 30px #000;

      transform: translateX(calc(100% - 30px));
      transition-property: transform, opacity;
      transition-duration: 600ms;

      opacity: .3;
    }

    .i-debug-panel:hover {
      transform: translateX(0);
      opacity: 1;
    }


    .d-tr-td-content {
      width: 100%;
    }

    .d-tr-td-content>textarea {
      width: 100%;
    }

  </style>


{% endif %}

