<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <title>Триатлон академия Голдовского Кирилла</title>
  <meta name="description"
        content="Академия Триатлона Голдовского Кирилла - дает возможность выбрать услугу для занятий триатлоном. Персональная тренировка, дистанционная и тренировка с детским тренером. Вы получаете только профессиональные рекомендации по подготовке к триатлону так как в нашей команде работают тренеры высшей категории">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- meta "author"-->
  <meta name="yandex-verification" content="2535143c08515afd" />
  <meta name="robots" content="noindex,nofollow">


  <script>
    const app = {
      deviceSize: 'xs',

      domContentLoaded: new Promise(resolve => {
        document.addEventListener('DOMContentLoaded', () => {
          app._updDeviceSize();
          // todo debounce for resize
          window.addEventListener('resize', app._onResize.bind(app));
          resolve();
        });
      }),

      loaded: new Promise(resolve => {
        window.addEventListener('load', resolve);
      }),

      getDeviceSize() {},

      _updDeviceSize() {
        this.deviceSize = this._defDeviceSize(document.body.clientWidth);
      },

      _defDeviceSize(w) {
        if (w < 576) { return 'xs'; }
        if (w < 768) { return 'sm'; }
        if (w < 992) { return 'md'; }
        if (w < 1200) { return 'lg'; }
        return 'xl';
      },

      _onResize() {
        this._updDeviceSize();
      }
    };
  </script>

  <!-- favicons beg -->
  <link rel="apple-touch-icon" href="{{ '/icons/favicons/fav57.png' | makeUrl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ '/icons/favicons/fav72.png' | makeUrl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ '/icons/favicons/fav144.png' | makeUrl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/icons/favicons/fav180.png' | makeUrl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/icons/favicons/fav32.png' | makeUrl }}">
  <!-- favicons end -->


  <!-- vv common styles beg -->
  <link rel="stylesheet" href="{{ '/libs/bootstrap.min.css' | makeUrl }}">
  <link rel="stylesheet" type="text/css" href="{{ '/css/vars.css' | makeUrl | addHash }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/indent.css' | makeUrl | addHash }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/fonts.css' | makeUrl | addHash }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/typography.css' | makeUrl | addHash }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/typography_coach.css' | makeUrl | addHash }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/forms.css' | makeUrl | addHash }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/anims.css' | makeUrl | addHash }}" />
  <!-- common styles end -->

  <!-- styles for page beg -->
  {% if page.cssUrls <> false %}
    {% assign urls = page.cssUrls | default: 'style.css' %}
    {% for url in urls %}
      <link rel="stylesheet" type="text/css" href="{{ url | default: 'style.css' | addHash }}"/>
    {% endfor %}
  {% endif %}
  <!-- styles for page end -->


  <!-- common script beg -->
  <script defer src="{{ '/libs/jquery-3.3.1.slim.min.js' | makeUrl }}"></script>
  <script defer src="{{ '/libs/popper.min.js' | makeUrl }}"></script>
  <script defer src="{{ '/libs/bootstrap.min.js' | makeUrl }}"></script>
  <!-- common script end -->


  <!-- script for page beg -->
  {% if page.jsUrls <> false %}
    {% assign urls = page.jsUrls | default: 'style.css' %}
    {% for url in urls %}
      <script async src="{{ url | default: 'script.js' | addHash }}"></script>
    {% endfor %}
  {% endif %}
  <!-- script for page end -->
</head>
<body>

{{ content }}

{% if page.yandexMetrika and jekyll.environment <> 'DEV' %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter50668825 = new Ya.Metrika2({
          id:50668825,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true
        });
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/tag.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50668825" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endif %}


</body>
</html>
