<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ page.meta }} | {{ page.keywords | join:' | ' }}">

  <meta name="robots" content="noindex,nofollow">

  <title>{{ page.title }}</title>

  <link rel="icon" type="image/svg/jpg" href="{{ '/icons/fav.jpg' | relative_url }}" />

  <link rel="stylesheet" href="{{ 'libs/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/css/vars.css' | relative_url | add_hash }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/indent.css' | relative_url | add_hash }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/fonts.css' | relative_url | add_hash }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/typography.css' | relative_url | add_hash }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/typography_coach.css' | relative_url | add_hash }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/forms.css' | relative_url | add_hash }}" />
  <link rel="stylesheet" type="text/css"
    href="{{ '/css/' | append: page.layout | append: '.css' | relative_url | add_hash }}"
  />
  <link rel="stylesheet" type="text/css"
    href="{{ page.path | remove:'index.html' | remove:'index.md' | append:'style.css' | relative_url | add_hash }}"
  />

  {% if page.layout <> 'a_base' %}
    <link rel="stylesheet" type="text/css" href="{{ '/css/a_base.css' | relative_url | add_hash }}" />
  {% endif %}

  <script defer src="{{ 'libs/jquery-3.3.1.slim.min.js' | relative_url }}"></script>
  <script defer src="{{ 'libs/popper.min.js' | relative_url }}"></script>
  <script defer src="{{ 'libs/bootstrap.min.js' | relative_url }}"></script>

  <script async src="{{ '/js/a_base.js' | relative_url | add_hash }}"></script>

  <script async
          src="{{ page.path | remove:'index.html' | remove:'index.md' | append: 'script.js' | relative_url | add_hash }}"
  ></script>

  {% if page.layout == 'coach' %}
    <script defer src="{{'js/' | append:'coach.js' | relative_url | add_hash }}"></script>
  {% endif %}
  {% if page.layout == 'report' %}
    <script defer src="{{'js/' | append:'report.js' | relative_url | add_hash }}"></script>
  {% endif %}


</head>
<body>
{{ content }}
</body>
</html>
