<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="nofollow">
    <meta name="robots" content="noindex">

    <title>
        {{page.title}}
    </title>

    <meta name="description" content="{{page.meta}} | {{ page.keywords | join:' | ' }}">

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}{{page.path | remove:'index.html'}}style.css" />
</head>
<body>
{{ content }}
</body>
</html>