---
layout: layout_adaptive
---
<div class="page-coach">
  <h2 class="typography-h2-post-for-people page-coach-post">{{page.post}}</h2>

  <section class="page-coach-ava-intro">
    {%include coach/avatar/index.html
      css='page-coach-ava-size'
      avatars=page.avatars
    %}
    {%include coach/intro/index.html css='page-coach-intro' content=page.intro%}
  </section>

  <section class="page-coach-students">
    {%for it in site.data.students%}
      {%assign student=it[1]%}
      {%assign use='0'%}
      {%for coach in student.coaches%}
        {%if coach==page.coach_id%}
          {%assign use='1'%}
          {%break%}
        {%endif%}
      {%endfor%}

      {%if use=='0'%}
        {%continue%}
      {%endif%}

      {%include student/item/index.html student=student css=''%}
    {%endfor%}
  </section>

</div>
