.i-nav-item-footer {
    font-family: var(--font-family-first);
    color: var(--font-colot-primary);
    font-size: 12px;
    font-weight: bold;
    transition-property: color;
    transition-duration: 300ms;
}

.i-nav-item-footer:hover {
    color: var(--font-color-secondary);
}

.i-nav-item-footer.selected {
    color: var(--font-color-secondary);
    cursor: default;
}
